/main.aux
/main.log
/main.pdf
/main.synctex.gz
/frontpage.aux
/header.aux
/main.out
/title.aux
/chapter2.aux
/chapter1.aux
/resumo.aux
/chapter3.aux
/chapter6.aux
/chapter8.aux
/main.toc
/main.ilg
/main.ind
/chapter_fomat.aux
/chapter_format.aux
/Jan2015.aux
/Jun2014.aux
/LabOceano.aux
/Nov2013.aux
/Nov2014.aux
/solen.aux
/Fev2015.aux
/justificativaXML.aux
/acompetestes.aux
/melhoriasdeequipamentos.aux
/melhoriasdeprocessos.aux
/capacitacao.aux
/capacitacaotec.aux
/difusao.aux
/submissaoandre.tex.aux
/submissaoandre.aux
/submissaocitenel.aux
/submissaogdf.aux
